import os
import xarray as xr
import geopandas as gpd
import pandas as pd
from shapely.geometry import Point
import geopandas as gpd
import rioxarray
import matplotlib.pyplot as plt
from mpl_toolkits.axes_grid1 import make_axes_locatable
import matplotlib.colors as mcolors
import numpy as np
from scipy.stats import percentileofscore, scoreatpercentile
from scipy.interpolate import interp1d
import seaborn as sns
from sklearn.metrics import mean_squared_error, r2_score
import glob
